@font-face {
  font-family: 'Langdon';
  src: url('../fonts/Langdon.otf');
  font-weight: normal;
  font-style: normal;
}

#home-page {
  margin: 0;
  padding: 0;
}

#home-page .fa-ajuste {
  font: normal normal normal 17px/1.6 FontAwesome !important;
}

/* Definindo css do overleaf */
#home-page .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

/* Definindo o css da mensagem do overleaf */
#home-page .overlay .msg-alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 50px;
  text-align: center;
  color: white;
}

/* Ajuste itens do menu */
#home-page .nav-home .ajuste {
  padding-top: 11px;
  padding-bottom: 13px;
}

/* Alterar fonte do título principal da home */
#home-page .header-home .main-title {
  font-family: "Langdon";
  text-transform: lowercase;
}

/* Alterar tamanho da fonte do H1 do header da home */
#home-page .header-home .w3-jumbo {
  font-size: 90px!important;
}

/* Alterar fonte do sub-titulo do header da home */
#home-page .header-home .w3-xlarge {
  font-family: "Langdon";
  text-transform: uppercase;
}

/* Cadastros Empresa/Freelancer homepage*/
/* The Modal (background) */
#home-page .modal-register {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#home-page .modal-content-register {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 10px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 50%; /* Could be more or less, depending on screen size */
}

@media screen and (max-width: 636px) {
  #home-page .modal-content-register {
    width: 100% !important;
  }
}

#home-page .msg-cep {
  color: red;
}

/* The Close Button (x) */
#home-page .close-register {
  float: right;
  margin-right: 20px;
  color: #000;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  opacity: .2;
  text-shadow: 0 1px 0 #fff;
}

#home-page .close-register:hover,
.close-register:focus {
  color: red;
  cursor: pointer;
}

/* Fim cadastro homepage*/

/* Add Zoom Animation */
#home-page .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #home-page span.psw {
   display: block;
   float: none;
 }
 #home-page .cancelbtn {
   width: 100%;
 }
}

/* Botões default dos modais da home */
/* Set a style for all buttons */
#home-page .btn-default-home {
  background-color: #357266;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#home-page button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#home-page .cancelbtn {
  width: auto;
  padding: 10px 18px;
}

/* Style do formulário de contato da home */
#home-page .contato textarea {
  padding: 8px;
}
/* Fim do style do formulário de cadastro */

/* Css acessibilidade */
#home-page .acessibilidade {
  position: relative;
  left: 20px;
  top: -40px;
}

#home-page .acessibilidade p {
  float: left;
}

#home-page .acessibilidade img {
  cursor: pointer;
  margin-left: 5px;
  margin-top: -4px;
}

#home-page .acessibilidade img:hover {
  box-shadow: 3px 3px 3px #aaa;
  -webkit-box-shadow: 3px 3px 3px #aaa;
  -moz-box-shadow: 3px 3px 3px #aaa;
}


/* Fim css acessibilidade*/

#home-page .eventos .noticia-img img {
  padding-top: 10px;
}

@media screen and (min-width: 915px) {
  #home-page .eventos .w3-panel {
    height: 260px;
  }
}

#home-page .eventos .noticia-text p {
  margin-bottom: 20px;
}

#home-page .eventos .btn-veja-mais {
 border-radius: 4px;
 background-color: #009688;
 border: none;
 color: #FFFFFF;
 text-align: center;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
 padding: 10px;
}

#home-page .eventos .btn-veja-mais span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#home-page .eventos .btn-veja-mais span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -10px;
  right: -20px;
  transition: 0.5s;
  font-size: 20pt;
}

#home-page .eventos .btn-veja-mais:hover span {
  padding-right: 25px;
}

#home-page .eventos .btn-veja-mais:hover span:after {
  opacity: 1;
  right: 0;
}

#home-page .eventos .paginacao {
  text-align: center;
}

#home-page .login-redes-sociais img {
  padding-left: 16px;
}

#home-page .contato input[type=text], #home-page .contato input[type=password], #home-page .contato input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#home-page .login {
  width: 40%;
  margin-left: 30%;
}

@media screen and (max-width: 600px) {
  #home-page .login {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 915px) {
  #home-page .noticia-text {
    float: none!important;
    width: 100%!important;
  }
  #home-page .noticia-text div {
    height: 40%!important;
  }
  #home-page .noticia-img {
    float: none!important;
    width: 100%!important;
  }
  #home-page .noticia-img img{
    width: 100%!important;
  }
  #home-page .eventos .w3-panel {
    height: auto!important;
  }
}

#home-page .login .ajuste-label-login {
  margin-top: 20px;
}

#home-page span.psw {
  float: right;
  padding-top: 16px;
}

/*#home-page .g-recaptcha div {
  margin-left: auto;
  margin-right: auto;
}*/

/* Formatação da página de login*/
/* css dropdown menu perfil admin*/

#admin-perfil .form-news {
  height: 10%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  #admin-perfil .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0!important;
    margin-bottom: 20px;
  }

  #admin-perfil .w3-margin {
    margin: -20px 0 20px 0!important;
  }
}

#admin-perfil .form-news input {
  width: 100%;
  max-width: 100%;
  padding: 5px;
}

#admin-perfil .form-news textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px;
}

#admin-perfil {
  margin: 0;
  padding: 0;
}

/* Dropdown Button */
#admin-perfil .dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
#admin-perfil .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
#admin-perfil .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#admin-perfil .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#admin-perfil .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#admin-perfil .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#admin-perfil .show {display:block;}

/* Set a style for all buttons */
#admin-perfil .geral button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

#admin-perfil .ajuste {
  padding: 12px 16px;
}

#admin-perfil .form-publicar {
  display: none;
}

/* Set a style for all buttons */
#admin-perfil .groups button {
  margin-top: 15px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

#admin-perfil .opt-post {
  font-size: 10pt;
}

#admin-perfil .opt-tec {
  font-size: 8pt;
}

#admin-perfil .opt-projeto {
  font-size: 10pt;
}

#admin-perfil .table-projetos {
  margin-top: 20px;
}

#admin-perfil .table-conhecimentos {
  margin-top: 20px;
}

#admin-perfil .add-conhecimento {
  margin-left: 20px;
}

#admin-perfil .link-voltar {
  color: #337ab7;
  text-decoration: none;
}
/* ----------------------------------------- */