@font-face {
    font-family: 'Langdon';
    src: url('../fonts/Langdon.otf');
    font-weight: normal;
    font-style: normal;    
}

#home-page {
  margin: 0;
  padding: 0;
}
/* Definindo css do overleaf */
#home-page .overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  cursor: pointer;
}

/* Definindo o css da mensagem do overleaf */
#home-page .overlay .msg-alerta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 50px;
  text-align: center;
  color: white;
}

/* Ajuste itens do menu */
#home-page .nav-home .w3-btn, .w3-button {
  padding-top: 12px;
}

/* Alterar fonte do título principal da home */
#home-page .header-home .main-title {
  font-family: "Langdon";
  text-transform: lowercase;  
}

/* Alterar tamanho da fonte do H1 do header da home */
#home-page .header-home .w3-jumbo {
  font-size: 110px!important;
}

/* Alterar fonte do sub-titulo do header da home */
#home-page .header-home .w3-xlarge {
  font-family: "Langdon";
  text-transform: uppercase;
}

/* Cadastros Empresa/Freelancer homepage*/
/* The Modal (background) */
#home-page .modal-register {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: scroll;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
}

/* Modal Content/Box */
#home-page .modal-content-register {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  padding: 10px;
  border: 1px solid #888;
  border-radius: 6px;
  width: 60%; /* Could be more or less, depending on screen size */
}

#home-page .ajuste-input-bottom {
  margin-bottom: 13px;
}

#home-page .msg-cep {
  color: red;
}

/* The Close Button (x) */
#home-page .close-register {
  float: right;
  margin-right: 20px;
  color: #000;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  opacity: .2;
  text-shadow: 0 1px 0 #fff;
}

#home-page .close-register:hover,
.close-register:focus {
  color: red;
  cursor: pointer;
}

 /* Fim cadastro homepage*/

 /* Add Zoom Animation */
 #home-page .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #home-page span.psw {
   display: block;
   float: none;
 }
 #home-page .cancelbtn {
   width: 100%;
 }
}

/* Botões default dos modais da home */
/* Set a style for all buttons */
#home-page .btn-default-home {
  background-color: #357266;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#home-page button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
#home-page .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Style do formulário de contato da home */
  #home-page .contato textarea {
    padding: 8px;
  }
/* Fim do style do formulário de cadastro */















#home-page .login-options {
	position: absolute;
  display: none;
  right: 0px;
  height: 200px;
  width: 300px;
  background-color: #EEEEEE;
  z-index: 99999;
  top: 51px;
  border: 1px black;
  padding: 10px;
  -webkit-box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);
  box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);    
}

#home-page .options-buttons-login {
	text-align: center;
	margin-top: 26px;
}


@media (max-width: 768px) {
  #home-page .login-options {
    left: 0px !important;
    top: 274px;
  }
}

#home-page .btn-login-home {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 215px;
}

#home-page .btn-login-home:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#home-page .link-active {
  color: #ffffff !important;
}

/* Cadastro home */
#home-page .register-options {
  position: absolute;
  display: none;
  right: 73px;
  height: 200px;
  width: 300px;
  background-color: #EEEEEE;
  z-index: 99999;
  top: 51px;
  border: 1px black;
  padding: 10px;
  -webkit-box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);
  box-shadow: -8px 9px 34px -5px rgba(0,0,0,0.75);    
}

#home-page .options-buttons-register {
  text-align: center;
  margin-top: 26px;
}


@media (max-width: 768px) {
  #home-page .register-options {
    left: 0px !important;
    top: 274px;
  }
}

#home-page .btn-register-home {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  background: #333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 215px;
}

#home-page .btn-register-home:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Full-width input fields */
#home-page input[type=text], input[type=password] {
  width: 100%;
  /*padding: 12px 20px;*/
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Center the image and position the close button */
#home-page .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#home-page img.avatar {
  width: 40%;
  border-radius: 50%;
}

#home-page img.avatar-2 {
  width: 80%;
}

#home-page .container-modal {
  padding: 16px;
}

#home-page span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
#home-page .modal {
  display: none; /* Hidden by default */
  position: fixed;  Stay in place 
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */    
}

/* Modal Content/Box */
#home-page .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 33%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
#home-page .close-login {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  opacity: .2;
  text-shadow: 0 1px 0 #fff;
}

#home-page .close-login:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* css dropdown menu perfil admin*/

#admin-perfil {
  margin: 0;
  padding: 0;
}

/* Dropdown Button */
#admin-perfil .dropbtn {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
#admin-perfil .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
#admin-perfil .dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#admin-perfil .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
#admin-perfil .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
#admin-perfil .dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
#admin-perfil .show {display:block;}

/* Css modal de criar job*/
/* Full-width input fields */
#admin-perfil input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#admin-perfil button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;    
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Set a style for all buttons */
#admin-perfil .modal-job button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;    
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Extra styles for the cancel button */
#admin-perfil .modal-job .cancelbtn-job {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
#admin-perfil .modal-job .cancelbtn-job,.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
#admin-perfil .container-job {
  padding: 16px;
}

/* The Modal (background) */
#admin-perfil .modal-job {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
#admin-perfil .modal-content-job {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
#admin-perfil .close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

#admin-perfil .close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/*Clear floats */
#admin-perfil .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show-snackbar {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* ----------------------------------------- */