.content-header .btn-add {
	margin-top: 0px;
	margin-bottom: 50px;
}

.content-header hr {
  color: #000;
  background-color: #000;
  height: 1px;
}

.thead-inverse tr {
	background-color: #3c8dbc;
	color: #fff;
}

.thead-inverse tr, th {
	text-align: center !important;
}

.thead-inverse th, td {
	text-align: center !important;
	vertical-align: middle !important;
}

.admin-view .img-circle {
	width: 6vw;
	height: 10vh;
}

@media (max-width: 991px) {
	.content-header .btn-add {		
		margin-top: 20px;
	}
}