.content-header .btn-add {
	margin-top: 0px;
	margin-bottom: 50px;
}

.content-header hr {
  color: #000;
  background-color: #000;
  height: 1px;
}

.thead-inverse tr {
	background-color: #3c8dbc;
	color: #fff;
}

.thead-inverse tr, th {
	text-align: center !important;
}

.thead-inverse th, td {
	text-align: center !important;
	vertical-align: middle !important;
}

.admin-view .img-circle {
	width: 6vw;
	height: 10vh;
}

@media (max-width: 991px) {
	.content-header .btn-add {		
		margin-top: 20px;
		margin-bottom: 22px;
	}

	.inativos-admins-view a {		
	  top: -9px !important;	  
	}
}

.pesquisa-admin-view {
	margin-bottom: 15px;
}

.inativos-admins-view a {
	position: relative;
  top: 5px;
  text-decoration: underline;
}

@media (min-width: 768px) {
	.form-inline .form-control {
    width: 300px !important;
  }
}

@media (min-width: 768px) {
	.modal-content {	
		height: 50%;
		margin-top: 25%;
	}
}